<div class="header">
<!--  <h1 id="h1" *ngIf="habits | async as habits">{{ habits[ 0 ].name }}</h1>-->
<!--  <div class="progress">-->
<!--    <div class="progress-text">-->
<!--      <div class="progress-name">Прогресс</div>-->
<!--      <div class="progress-percent">{{ progressPercent }}</div>-->
<!--    </div>-->
<!--    <div id="progress-bar" class="progress-bar">-->
<!--      <div class="progress-cover-bar" [style.width]="progressPercent"></div>-->
<!--    </div>-->
<!--  </div>-->
</div>

